body {
  background-color: #f1f2f6;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic",
    メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
.form-container {
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 2px 2px 10px -5px;
  border-radius: 10px;
}
